.list {
  display: grid;
  gap: 15px;
}

.item {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  padding: 15px;
  display: grid;
  gap: 8px;
  border: 1px dashed black;
}

.item p:not(:last-child) {
  border-bottom: 1px solid black;
}
